*{
    box-sizing: border-box;
}
.wrap{
    border: 2px solid black;
    padding: 10px;
}

.h350{
    height: 350px;
}

.block-head{
    width: 100%;
    height: 200px;
    border-radius: 10px;

}
.content{
    display: flex;
    margin-top: 10px;

}
.content_A{
    width: 70%;
    margin-right: 10px;
}
.content_B{
    width: 30%;
}
.block-color{
    background-color: #a7a2a2;
    display: flex;
    justify-content: center;
    align-items: center;
}
