.block-wrapper {
    width: 420px;
    margin-left: 20px;
    overflow: hidden;
}

.block-shadow {
    margin: 100px auto 10px;
    width: 400px;
    height: 200px;
    background-color: #808080;
    box-shadow: -25px -25px 20px 10px #D3B68E;
}

p {
    margin: 0 30px;
    border-left: 6px solid red;
    font-size: 24px;
    padding-left: 30px;
}