* {
    margin: 0;
}

.h350{
    height: 350px;
}

.block-slider {
    box-sizing: border-box;
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.card {
    width: 90%;
    height: 150px;
}



.block-color {
    background-color: #1b02cc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 28px;
}
